
.sticky {
    position: fixed;
  }

.main{
  margin-top: 69px;
}

.footer{
  position: fixed;
  bottom: 0;
}

.header{
  width: 100%;
  height: 69px;
}

.game-hero{
  margin-right: 5%;
  margin-right: 5%;
}

#hero{
  max-height: 300px;
}

.game-logo{
  margin-left: 10%;
  margin-right: 10%;
}

#logo{
  max-width: 400px;
}

.game-grid{
  margin-left: 10%;
  margin-right: 10%;
}

#grid{
  max-height: 300px;
}

.grid{
  max-height: 200px;
}

#name{
  margin: 5px;
  padding: 5px;
  text-align: center;
}

.bordered{
  margin: 3px;
}

hr {
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.steam-gradient {
  background: linear-gradient(to bottom, #1f2224 0%, #292d32 200px);
  color: white;
}

/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* https://www.sitepoint.com/html5-file-drag-and-drop/ */
#filedrag
{
	display: none;
	font-weight: bold;
	text-align: center;
	padding: 1em 0;
	margin: 1em 0;
	color: #555;
	border: 2px dashed #555;
	border-radius: 7px;
	cursor: default;
}

#filedrag.hover
{
	color: #f00;
	border-color: #f00;
	border-style: solid;
	box-shadow: inset 0 3px 4px #888;
}

#bannerdroparea {
  width: 480px;
  height: 155px;
  border-style: dotted;
  border-width: 3px;
  border-color: red;
  float: left;
  line-height: 200px;
  text-align: center;
}

#bannerdroparea.hover {
  width: 480px;
  height: 155px;
  border-style: solid;
  border-width: 4px;
  border-color: green;
  float: left;
  line-height: 200px;
  text-align: center;
}
